Documentation/*.png
Documentation/*.jpg
Documentation/*.tex.bak
Documentation/*.synctex.gz
Documentation/*.log
Documentation/*.aux
3D/crab/textures/CangrejoMaterial_baseColor.png
3D/seaport/textures/Environment_baseColor.png
3D/seaport/textures/Fortress_baseColor.png
3D/seaport/textures/Fortress_emissive.jpg
3D/seaport/textures/material_4_baseColor.jpg
